
.row
  .col-lg-3
    = bootstrap_form_tag action: 'search', layout: :inline, label_col: 'hidden' do |f|
      = f.text_field :term, placeholder: 'Find an Agent', skip_label: true
      = f.submit 'Search'
    %ul.nav.nav-pills.nav-stacked
      - @agents.each do |a|
        %li{role: 'presentation'}
          = link_to agent_name(a.name), "##{a.name}"
  .col-lg-9
    - @agents.each do |agent|
      %h3{id: agent.name}
        = agent_name agent.name
        = features agent
      .well.description
        != agent.description
      %hr