.row
  .col-lg-3
    = bootstrap_form_tag url: search_scenarios_url, method: :GET, layout: :horizontal, control_col: "col-sm-12", label_col: 'hidden', enforce_utf8: false do |f|
      = f.text_field :q, value: params[:q], placeholder: 'Search through Scenarios', skip_label: true
    %ul.nav.nav-pills.nav-stacked
      %li{role: 'presentation'}
        = link_to 'New Scenario', new_scenario_import_path
      - @scenarios.each do |scenario|
        %li{role: 'presentation'}
          = link_to scenario.name, anchor: scenario
  .col-lg-9
    - @scenarios.each do |scenario|
      = render scenario, show: false
