.row
  .col-lg-3
    %p
      = link_to 'Download Scenario JSON', download_scenario_path(@scenario), class: "btn btn-default btn-block"
    %p
      = link_to 'Copy Scenario URL', download_scenario_path(@scenario), class: "btn btn-default btn-block"
    %p
      = label_tag "Likes"
      = rand(1000)
    %p
      = label_tag "Downloads"
      = rand(1000)
    %p
      = label_tag "Subscriptions"
      = rand(1000)
    %p
      = label_tag "Versions"
      = "..."
  .col-lg-9
    = render @scenario, show: true
