.row
  .col-lg-3
    %p
      = link_to 'Download Scenario JSON', download_scenario_path(@scenario), class: "btn btn-default btn-block"
    %p
      %button.btn.btn-default.btn-block{data: {'clipboard-text': download_scenario_url(@scenario), behaviour: 'copy-to-clipboard'}}
        Copy Scenario URL
    %p
      = label_tag "Likes"
      = rand(1000)
    %p
      = label_tag "Downloads"
      = rand(1000)
    %p
      = label_tag "Subscriptions"
      = rand(1000)
    %p
      = label_tag "Versions"
      = "..."
  .col-lg-9
    = render @scenario, show: true
